<template>
  <v-card class="mx-auto chat-main" max-width="600">
    <v-app-bar
      style="left: auto; max-width: 600px"
      color="primary"
      density="compact"
    >
      <v-avatar :image="data.contactImage" size="30"></v-avatar>
      <template v-slot:prepend> </template>

      <v-app-bar-title>{{ data.contactName }}</v-app-bar-title>

      <template v-slot:append>
        <v-btn :to="{ name: 'Home' }" icon="mdi-chevron-right"></v-btn>
      </template>
    </v-app-bar>

    <div id="send" style="display: flex">
      <v-textarea
        label="Text"
        no-resize
        rows="1"
        v-model="inputVal"
      ></v-textarea>
      <v-btn icon="mdi-send" color="primary" @click="sendNewMessage"></v-btn>
    </div>

    <div v-for="item in data.messageList" :key="item.id">
      <div class="message" :class="{ 'right-message': !item.isResponse }">
        <v-card
          class="max"
          :class="[item.isResponse ? 'bg-blue-darken-3' : 'bg-blue-darken-1']"
        >
          {{ item.messageContent }}
          <br />
          <div class="time" :class="{ 'right-message': !item.isResponse }">
            {{ item.time }}
          </div>
        </v-card>
      </div>
    </div>
  </v-card>
</template>
<script>
import { v4 as uuidv4 } from "uuid";
import mixin from "@/mixin/mixin";

export default {
  mixins: [mixin],

  data() {
    return {
      inputVal: "",
      data: {
        contactName: "hossein taromi",
        contactImage: "https://cdn.vuetifyjs.com/images/lists/1.jpg",
        messageList: [
          {
            id: 5,
            messageContent: "same as always",
            time: "03:33",
            isResponse: false,
          },
          {
            id: 4,
            messageContent: "whatsapp?",
            time: "03:33",
            isResponse: true,
          },

          {
            id: 3,
            messageContent: "every thing grate",
            time: "03:33",
            isResponse: false,
          },
          {
            id: 2,
            messageContent:
              "asdfasdf asdf as df asdf a sdf asdf a sdf asdf as df adsf asd fa sdf asdf as dfa sdf asdf as dfa sdf asdf as dfaa dsf asdf as dfa sd",
            time: "03:33",
            isResponse: true,
          },
          {
            id: 1,
            messageContent: "hello",
            time: "03:33",
            isResponse: false,
          },
        ],
      },
    };
  },
  methods: {
    sendNewMessage() {
      const dataToSendBackend = {
        id: uuidv4(),
        time: this.whatTimeIsIt(),
        messageContent: this.inputVal,
        isResponse: false,
      };
      this.data.messageList.unshift(dataToSendBackend);
    },
  },
};
</script>

<style lang="css">
.chat-main {
  height: 100%;
  display: flex !important;
  flex-direction: column-reverse;
}
.message {
  margin: 5px;
  align-content: center;
  display: flex;
}
.max {
  max-width: 60%;
  padding: 10px !important;
  margin: 0 20px 20px 20px;
}
.right-message {
  display: flex;

  justify-content: end;
}
.time {
  font-size: 12px;
}
</style>
