<template>
  <v-layout>
    <ChatList></ChatList>
  </v-layout>
</template>
<script>
import ChatList from "@/components/ChatList.vue";
export default {
  components: {
    ChatList,
  },
};
</script>
