<template>
  <v-card class="mx-auto" max-width="600">
    <Profile />
    <v-divider></v-divider>
    <v-list lines="there">
      <v-list-item
        v-for="item in $store.state.chatList"
        :key="item.title"
        :title="item.title"
        :subtitle="item.subtitle"
        :prepend-avatar="item.prependAvatar"
        :to="{ name: 'ChatPage', params: { id: item.id } }"
      >
      </v-list-item>
    </v-list>
  </v-card>
</template>

<script>
import Profile from "@/components/Profile.vue";
export default {
  components: {
    Profile,
  },
};
</script>
