<template>
  <div>
    <v-list>
      <v-list-item
        :prepend-avatar="this.$store.state.personalInfo.avatar"
        :title="$store.getters.fullName"
        :subtitle="this.$store.state.personalInfo.email"
      >
        <template v-slot:append>
          <v-dialog v-model="dialog" scrollable>
            <template v-slot:activator="{ props }">
              <v-btn
                size="small"
                v-bind="props"
                variant="text"
                icon="mdi-pen"
              ></v-btn>
            </template>
            <v-card>
              <v-card-title>Edit profile</v-card-title>
              <v-divider></v-divider>
              <v-card-text style="height: 300px">
                <v-form ref="form" v-model="valid" lazy-validation>
                  <v-text-field
                    v-model="firstName"
                    :counter="10"
                    :rules="nameRules"
                    label="firstName"
                    required
                  ></v-text-field>
                  <v-text-field
                    v-model="lastName"
                    :counter="10"
                    :rules="nameRules"
                    label="lastName"
                    required
                  ></v-text-field>

                  <v-text-field
                    v-model="email"
                    :rules="emailRules"
                    label="E-mail"
                    required
                  ></v-text-field>

                  <v-btn color="success" class="me-4" @click="validate">
                    save
                  </v-btn>
                  <v-btn
                    color="blue-darken-1"
                    variant="text"
                    @click="dialog = false"
                  >
                    Close
                  </v-btn>
                </v-form>
              </v-card-text>
            </v-card>
          </v-dialog>
        </template>
      </v-list-item>
    </v-list>
  </div>
</template>
<script>
export default {
  data() {
    return {
      dialog: false,
      valid: true,
      firstName: this.$store.state.personalInfo.firstName,
      lastName: this.$store.state.personalInfo.lastName,
      nameRules: [
        (v) => !!v || "Name is required",
        (v) => (v && v.length <= 10) || "Name must be less than 10 characters",
      ],
      email: this.$store.state.personalInfo.email,
      emailRules: [
        (v) => !!v || "E-mail is required",
        (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
      ],
    };
  },
  methods: {
    async validate() {
      const { valid } = await this.$refs.form.validate();

      if (!valid) return;
      const dataForBackend = {
        firstName: this.firstName,
        lastName: this.lastName,
        email: this.email,
      };
      this.$store.dispatch("updateProfile", dataForBackend);
      this.dialog = false;
    },
  },
};
</script>
