<template>
  <v-app :theme="theme">
    <v-app-bar :elevation="1">
      <span class="ml-3"> TELEGRAM </span>
      <v-spacer></v-spacer>

      <v-btn
        :prepend-icon="
          theme === 'light' ? 'mdi-weather-sunny' : 'mdi-weather-night'
        "
        @click="onClick"
        >Toggle Theme</v-btn
      >
    </v-app-bar>
    <default-view />
  </v-app>
</template>

<script setup>
import DefaultView from "./View.vue";
import { ref } from "vue";

const theme = ref("light");

function onClick() {
  theme.value = theme.value === "light" ? "dark" : "light";
}
</script>
